/* PrismJS 1.30.0
https://prismjs.com/download#themes=prism&languages=markup+css+clike+javascript+typescript&plugins=line-numbers */
code[class*='language-'],
pre[class*='language-'] {
	color: var(--ink);
	background: 0 0;
	text-shadow: none;
	font-family: 'Cascadia Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	font-weight: 300;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
code[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
pre[class*='language-']::-moz-selection {
	text-shadow: none;
	color: var(--paper);
	background: var(--indigo);
}
code[class*='language-'] ::selection,
code[class*='language-']::selection,
pre[class*='language-'] ::selection,
pre[class*='language-']::selection {
	text-shadow: none;
	color: var(--paper);
	background: var(--indigo);
}
pre[class*='language-'] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}
:not(pre) > code[class*='language-'],
pre[class*='language-'] {
	width: 80ch;
	height: 100%;
	max-width: 80vw;
	max-height: 75vh;
	background: var(--paper);
	margin: 1em;
	margin-top: 0;
	border-radius: 0.3em;
	border: 1px solid var(--copper);
}
:not(pre) > code[class*='language-'] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}
.token.comment {
	color: var(--linen);
	font-style: italic;

}
.token.cdata,
.token.doctype,
.token.prolog {
	color: var(--slate);
}
.token.punctuation {
	color: var(--slate);
}
.token.namespace {
	opacity: 0.7;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
	color: var(--indigo);
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
	color: var(--amber);
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
	color: var(--slate);
}
.token.url.string {
	font-weight: 300;
	text-decoration: solid 1px var(--slate) underline;
}

.token.atrule,
.token.token.keyword,
.token.tag,
.token.bold,
token.important {
	font-weight: 700;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: var(--green);
}
.token.class-name,
.token.function {
	color: var(--red);
}
.token.important,
.token.regex,
.token.variable {
	color: var(--green);
}

.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
pre[class*='language-'].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}
pre[class*='language-'].line-numbers > code {
	position: relative;
	white-space: inherit;
}
.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -3.8em;
	width: 3em;
	letter-spacing: -1px;
	border-right: 1px solid var(--linen);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.line-numbers-rows > span {
	display: block;
	counter-increment: linenumber;
}
.line-numbers-rows > span:before {
	content: counter(linenumber);
	color: var(--linen);
	display: block;
	padding-right: 0.8em;
	text-align: right;
}
